/********** forside **********/
.hero_text {
  font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;

  color: transparent;
  background-clip: text;
  background-image: url("img/gradient.webp");
  background-size: 150%;

  animation: kf_herot 10s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@keyframes kf_herot {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.forside_om{
  padding-bottom: 15vw;
}

@media (max-width: 750px) {
  .arrow {
    display: none !important;
  }
}

.pil-knap1 {
  display: grid;
  justify-content: center;
}

.forside_h1 {
  color: transparent;
}

.klara {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.studerer {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.hero {
  background-color: black;
  padding-left: 10vw;
  /* padding-top: 10vw; */
  padding-right: 10vw;
  padding-bottom: 20vw;
}

.pil {
  background-color: #000000;
  background-size: 200px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0px;
  padding-inline: 42px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-decoration: none;
}
.pil:hover {
  color: transparent;
  background-clip: text;
  background-image: url("img/gradient.webp");
  background-size: 150%;

  animation: kf_hover 2s cubic-bezier(0.3, 0, 0.7, 1);
}

@keyframes kf_hover {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@media (min-width: 750px) {
  .arrow {
    position: absolute;
    width: 2%;
    left: 43%;
    top: 55%;
  }

  .forside_h3 {
    padding-bottom: 4vw;
    font-size: 3rem;
  }

  .forside_grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 15vw;
  }

  .forside_undertitel {
    padding-bottom: 0;
    font-size: 4rem;
  }

  @keyframes kf_appear {
    from {
      opacity: 0;
      scale: 0.5;
    }

    to {
      opacity: 1;
      scale: 1;
    }
  }

  .img_02 {
    /* padding-left: 10vw;
    padding-right: 5vw; */

    animation: kf_appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .tekst_02 {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  /* .img_03 {
    padding-left: 5vw;
    padding-right: 10vw;
  } */

  .tekst_03 {
    padding-left: 10vw;
    padding-right: 5vw;
  }

  /* .img_04 {
    padding-left: 10vw;
    padding-right: 5vw;
  } */

  .tekst_04 {
    padding-left: 5vw;
    padding-right: 10vw;
  }

  /* .img_05 {
    padding-left: 5vw;
    padding-right: 10vw;
  } */

  .tekst_05 {
    padding-left: 10vw;
    padding-right: 5vw;

  }
}

/********** projekter *********/
@media (min-width: 750px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    padding-top: 80px;
    padding-bottom: 10vw;
  }
}

.tekst_boks {
  padding-left: 0%;
  text-align: left;
  padding-left: 20px;
}

.grid_1-1 {
  gap: 40px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 80px;
}

.index {
  padding-left: 0%;
}

.index_2 {
  padding-left: 0%;
}

.index_3 {
  border: 0; /* Fjern standardkanten */
  height: 0.5px; /* Sæt tykkelsen af linjen */
  background-color: #333; /* Vælg en farve til linjen */
  width: 100%; /* Juster bredden af linjen */
  margin: auto;
}
/********** hover på katalog 1 ***********/

@media (max-width:750px){
.grid_1-1 {
  padding-bottom: 10vw;
}

.wrapper {
  display: flex;
  justify-content: center; /* Centrerer billedet horisontalt */
  align-items: center; /* Centrerer billedet vertikalt */
  /* height: 60vh; Gør wrapperen stor nok til at centrere indholdet i skærmen */
  padding-top: 15vw;
}
}

.hover-1 {
  position: relative; /* Gør det muligt at placere overlayet */
  display: inline-block; /* Gør containeren til en blok, der kun fylder billedets bredde */
}

.katalog-1 {
  width: 100%; /* Sæt den ønskede bredde på billedet */
  height: auto; /* Beholder billedets proportioner */
  display: block; /* Fjerner mellemrum under billedet */
}

.overlay {
  position: absolute; /* Gør det muligt at placere overlayet over billedet */
  top: 0;
  left: 0;
  right: 0;
  opacity: 0; /* Skjuler overlayet som standard */
  display: flex; /* Gør det muligt at centrere teksten */
  justify-content: center; /* Centrerer teksten vandret */
  align-items: center; /* Centrerer teksten lodret */
  transition: opacity 0.3s ease; /* Glidende overgang for opacitet */

   font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
    bottom: 27px;
border-radius: 20px;
background-color: #000000;
}

.hover-1:hover .overlay {
  opacity: 1; /* Gør overlayet synligt ved hover */
}

.tekst {
  color: rgb(255, 255, 255); /* Gør teksten hvid */
  text-align: center; /* Centrerer teksten */
   font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.8rem;

  color: transparent;
  background-clip:text;
  background-image: url("img/gradient.webp");
  background-size: 150%;

  animation: kf_herot 10s cubic-bezier(0.3, 0, 0.7, 1) infinite;
}

@media (min-width: 750px) {
  .katalog-1 {
    width: 480px; /* Sæt den ønskede bredde på billedet */
    height: auto; /* Beholder billedets proportioner */
    display: block; /* Fjerner mellemrum under billedet */
  }
  .overlay {
    position: absolute; /* Gør det muligt at placere overlayet over billedet */
    top: 0;
    left: 0;
    right: 0;
    bottom: 70px;
    opacity: 0; /* Skjuler overlayet som standard */
     display: flex; /* Gør det muligt at centrere teksten */
    justify-content: center; /* Centrerer teksten vandret */
    align-items: center; /* Centrerer teksten lodret */
    transition: opacity 0.3s ease; */ */ */

    font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
    bottom: 70px;
border-radius: 20px;
background-color: #000000;
  }
  .wrapper {
    display: flex;
    justify-content: center; /* Centrerer billedet horisontalt */
    align-items: center; /* Centrerer billedet vertikalt */
    /* height: 80vh;   Gør wrapperen stor nok til at centrere indholdet i skærmen */
  }

  .tekst_boks {
    padding-left: 0%;
    text-align: left;
    padding-left: 5vw;
    padding-right: 91px;
  }
}

/****** 02 ***********/

@media (max-width: 750px) {
  .forside_grid1_1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Afstand mellem elementer */
    padding-bottom: 10vw;

    animation: kf_appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
  }

  .img_02 {
    order: 1;
    padding: 10vw;
    padding-bottom: 0;
  }

  .tekst_02 {
    order: 2;
    padding-left: 10vw;
    padding-bottom: 15vw;
  }

  .tekst_03 {
    order: 4;
    padding-left: 10vw;
    padding-bottom: 15vw;
  }

  .img_03 {
    order: 3;
    padding: 10vw;
    padding-bottom: 0;
  }

  .img_04 {
    order: 6;
    padding: 10vw;
    padding-bottom: 0;
  }

  .tekst_04 {
    order: 6;
    padding-left: 10vw;
    padding-bottom: 15vw;
  }

  .tekst_05 {
    order: 9;
    padding-left: 10vw;
    padding-bottom: 15vw;
  }

  .img_05 {
    order: 8;
    padding: 10vw;
    padding-bottom: 0;
  }
}

@media (min-width: 750px) {
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
  }

  .mobil_02 {
    width: 60%;
  }

  .boks_02_1 {
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-top: 0 !important;
    padding-bottom: 7vw !important;
  }

  .tekst_boks_02 {
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-top: 7vw !important;
    padding-bottom: 0 !important;
  }

  .indhold_02 {
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-bottom: 0 !important;
  }

  .lering_02 {
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-top: 5vw !important;
    padding-bottom: 10vw !important;
  }
}

.se {
  background-color: #000000;
  background-size: 200px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 9px;
  padding-inline: 23px;
  border-radius: 50px;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-size: 2.8rem;
  text-decoration: none;
}
.se:hover {
  color: transparent;
  background-clip: text;
  background-image: url("img/gradient.webp");
  background-size: 150%;

  animation: kf_hover 2s cubic-bezier(0.3, 0, 0.7, 1);
}

.se-knap {
  display: flex;
  justify-content: center;
}

.flex_boks {
  display: grid;
  justify-content: center;
}

.boks_02_1 {
  padding: 10vw;
}

.tekst_boks_02 {
  padding: 10vw;
}

.indhold_02 {
  padding: 10vw;
}

.lering_02 {
  padding: 10vw;
}

/************* 03 ***************/

.proces_03 {
  background-color: #accdff;
  color: black;
  padding: 10vw;
}

.flex_boks_03 {
  display: grid;
  justify-content: center;
  padding-top: 10vw;
  padding-bottom: 10vw;

  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;

  /* color: transparent;
  background-clip: text; */
  background-image: url("img/gradient.webp");
  /* background-size: 150%; */

  animation: kf_boks 30s cubic-bezier(0.3, 0, 0.7, 1);
}

@keyframes kf_boks {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.ungt,
.moder,
.kulturelt {
  display: grid;
  justify-content: center;
}

.videre_knap {
  display: grid;
  justify-content: center;
  padding-top: 20vw;
  padding-bottom: 10vw;
}

@media (min-width: 750px) {
  .proces_03 {
    padding-top: 7vw !important ;
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-bottom: 3vw !important;
  }

  .videre_knap {
    padding-top: 5vw !important;
    padding-bottom: 7vw !important;
  }

  .lering_04 {
    padding-left: 15vw !important;
    padding-right: 15vw !important;
    padding-top: 5vw !important;
  }

  .flex_boks_03 {
    display: flex;
    justify-content: center;
    gap: 20vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }
}

/************ 04 **********/

.align{
  align-self: auto;
}

.lerings_boks_04 {
  background-color: #e4ccff;
}

.sort_tekst {
  color: black;
}

.lering_04 {
  padding-left: 10vw;
  padding-top: 15vw;
}

.p_titel_4 {
  padding-top: 10vw;
}

/* #game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */



#fly_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/flyvemaskine.svg);
  background-size: cover;

  animation-name: rotation_kf;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes rotation_kf {
  0% {
  }

  100% {
    rotate: 360deg;
  }
}

#vindmolle_container {
  width: 13%;
  aspect-ratio: 200/200;
  position: absolute;
  top: 190%;
  left: 80%;
}

#vindmolle_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/vindmolle.svg);
  background-size: cover;

  animation-name: rotation_kf;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@media (max-width: 750px){
#liv_container {
  width: 13%;
  aspect-ratio: 200/200;
  position: absolute;
  top: 430%;
  left: 55%;
}

#fly_container {
  width: 25%;
  aspect-ratio: 200/200;
  position: static;
  top: 633px;
  left: 330px;
}
}


#liv_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/liv.svg);
  background-size: cover;

  animation-name: rotation_kf;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.trump {
  position: relative;
  padding-top: 10vw;
  width: 25%;
  left: 10%;

  animation-name: rotation_kf;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@media (min-width: 750px) {
  .trump {
    width: 10%;
    left: 19%;
  }

  #liv_container {
  width: 25%;
  aspect-ratio: 200/200;
  position: static;
  top: 480%;
  left: 55%;
}

#fly_container {
  width: 35%;
  aspect-ratio: 200/200;
  position: static;
  top: 170%;
  left: 60%;
}
}
/************* 05 *************/
.lottie {
  /* width: 80%;
  height: 100%; */
  top: 270%;
  left: 0%;
  position: relative;
  pointer-events: none;
}

@media (min-width: 750px) {
  .mood_05 {
    width: 50%;
  }
  .lottie {
    width: 80%;
    height: 100%;
    top: 270%;
    left: 35%;
    position: relative;
    pointer-events: none;
  }
}

.mobil_05{
padding-left: 10vw;
}

/******** om **************/

.ellers{
  padding-top: 25vw;
}

summary {
  background-color: rgb(0, 0, 0);
  color: white;
 font-size: 1.5rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 138%;
 

  padding: 2rem;
  padding-inline: 0rem;
  margin-bottom: -4rem;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /* width: 510px; */
  align-items: center;
  /* border-color: white;
    border-style: solid; */
}

 summary:hover {
   border-style: solid;
   border-color: white;
   border-width: 1px;
  }


details p {
   background-color: rgb(0, 0, 0);
  color: white;
 font-size: 1.5rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 138%;
 

  padding: 2rem;
  padding-inline: 0rem;
  margin-bottom: 2rem;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /* width: 510px; */
  align-items: center;
  /* border-color: white;
    border-style: solid;v */
}

.sort {
   color: white;
}

.row_2{
  padding-bottom: 15vw;
}


.mig {
  padding: 10vw;
}

.tekst_boks_om{
  padding-bottom: 10vw;
}

.kompetencer_1,
.kompetencer_2,
.kompetencer_3,
.kompetencer_4,
.kompetencer_5,
.kompetencer_6,
.kompetencer_7,
.kompetencer_8,
.kompetencer_9,
.kompetencer_10 {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
  font-size: 2rem;
  color: white;
  border-color: rgb(24, 146, 0);
  border-radius: 52px;
  border-style: solid;
  padding-inline: 28px;
  border-width: 1px;

  padding: 10px;
  width: 61%;
}

@media (min-width: 750px) {


  
.row_2{
  padding-bottom: 15vw;
}

  summary {
  background-color: rgb(0, 0, 0);
  color: white;
 font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 138%;
 

  padding: 2rem;
  padding-inline: 0rem;
  margin-bottom: -4rem;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /* width: 510px; */
  align-items: center;
  /* border-color: white;
    border-style: solid; */
}

  summary:hover {
   border-style: solid;
   border-color: white;
   border-width: 1px;
  }


details p {
   background-color: rgb(0, 0, 0);
  color: white;
 font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 138%;
 

  padding: 2rem;
  padding-inline: 0rem;
  margin-bottom: 2rem;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /* width: 510px; */
  align-items: center;
  /* border-color: white;
    border-style: solid;v */
}

.sort {
   color: white;
}

  .kompetencer_1,
  .kompetencer_2,
  .kompetencer_3,
  .kompetencer_4,
  .kompetencer_5,
  .kompetencer_6,
  .kompetencer_7,
  .kompetencer_8,
  .kompetencer_9,
  .kompetencer_10 {
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
    font-size: 2rem;
    color: white;
    border-color: rgb(24, 146, 0);
    border-radius: 52px;
    border-style: solid;
    padding-inline: 28px;
    border-width: 1px;

    padding: 10px;
    width: 15%;
  }

  .kompetencer_1 {
    position: absolute;
    left: 10%;
  }

  .kompetencer_2 {
    position: absolute;
    left: 70%;
  }

  .kompetencer_3 {
    position: absolute;
    left: 40%;
  }

  .kompetencer_4{
    position: absolute;
  }

  .kompetencer_5 {
    position: absolute;
    left: 60%;
  }

  .kompetencer_6 {
    position: absolute;
    left: 80%;
    top: 370%;
  }

  .kompetencer_7 {
    position: absolute;
    left: 15%;
  }

  .kompetencer_8 {
    position: absolute;
    left: 50%;
  }

   .kompetencer_9{
    position: absolute;
    width: 20%;
   top: 360%;
  }

  .kompetencer_10 {
    position: absolute;
    left: 15%;
    top: 370%;
  }

  .kompetencer {
    padding-left: 10vw;
       padding-right: 10vw;
          padding-bottom: 10vw;
  }
}

 .om_side {
    padding-left: 10vw;
    padding-right: 10vw;
  }

@media (min-width: 750px) {
  .om_side {
    padding-left: 15vw;
    padding-right: 15vw;
  }

  .mig {
    padding-left: 20vw !important;
    padding-right: 20vw !important;
    padding-bottom: 0 !important;
  }
}

.kompetencer_1:hover,
.kompetencer_2:hover,
.kompetencer_3:hover,
.kompetencer_4:hover,
.kompetencer_5:hover,
.kompetencer_6:hover,
.kompetencer_7:hover,
.kompetencer_8:hover,
.kompetencer_9:hover,
.kompetencer_10:hover {
  color: transparent;
  background-clip: text;
  background-image: url("img/gradient.webp");
  background-size: 100%;
  cursor: pointer;

  animation: kf_hover2 0.2s cubic-bezier(0.3, 0, 0.7, 1);
  animation: kf_move 5s linear forwards;
}

@keyframes kf_hover2 {
  0% {
    background-position: 100% 100%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes kf_move {
  0% {
    transform: translateX(0); /* Startposition */
  }
  50% {
    transform: translateX(20px); /* Flyt 200px til højre */
  }
  100% {
    transform: translateX(0); /* Tilbage til startposition */
  }
}

.padding {
  padding: 2vw;
}

@media (max-width: 750px) {
  .kompetencer {
    padding-bottom: 5vw;
    padding-top: 5vw;
    padding-left: 5vw;
  }
}
/**** projekter *******/
