/********** forside **********/

.hero_text {
  font-size: 2rem;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;

  color: transparent;
  background-clip: text;
  background-image: url("img/gradient.png");
  background-size: 150%;

  animation: kf_herot 30s cubic-bezier(0.3, 0, 0.7, 1);
}

@keyframes kf_herot {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.klara {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.studerer {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.hero {
  background-color: black;
  padding: 10vw;
}

.pil {
  background-color: #000000;
  background-size: 200px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 0px;
  padding-inline: 42px;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-decoration: none;
}
.pil:hover {
  color: transparent;
  background-clip: text;
  background-image: url("img/gradient.png");
  background-size: 150%;

  animation: kf_hover 2s cubic-bezier(0.3, 0, 0.7, 1);
}

@keyframes kf_hover {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/****** 02 ***********/

@media (min-width: 750px) {
  .grid1_1 {
    display: flex;
    flex-direction: row;
  }
}

.se {
  background-color: #000000;
  background-size: 200px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 9px;
  padding-inline: 23px;
  border-radius: 50px;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-size: 2.8rem;
  text-decoration: none;
}
.se:hover {
  color: transparent;
  background-clip: text;
  background-image: url("img/gradient.png");
  background-size: 150%;

  animation: kf_hover 2s cubic-bezier(0.3, 0, 0.7, 1);
}

.se-knap {
  display: flex;
  justify-content: center;
}

.flex_boks {
  display: grid;
  justify-content: center;
}

.boks_02_1 {
  padding: 10vw;
}

.tekst_boks_02 {
  padding: 10vw;
}

.indhold_02 {
  padding: 10vw;
}

.lering_02 {
  padding: 10vw;
}

/************* 03 ***************/
.tekst_boks_03 {
}

.proces_03 {
  background-color: #accdff;
  color: black;
  padding: 10vw;
}

.flex_boks_03 {
  display: grid;
  justify-content: center;
  padding-top: 10vw;
  padding-bottom: 10vw;

  font-size: 1rem;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;

  /* color: transparent;
  background-clip: text; */
  background-image: url("img/gradient.png");
  /* background-size: 150%; */

  animation: kf_boks 30s cubic-bezier(0.3, 0, 0.7, 1);
}

@keyframes kf_boks {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.ungt,
.moder,
.kulturelt {
  display: grid;
  justify-content: center;
}

.videre_knap {
  display: grid;
  justify-content: center;
  padding-top: 20vw;
  padding-bottom: 10vw;
}

/************ 05 **********/

.lerings_boks_04 {
  background-color: #e4ccff;
}

.sort_tekst {
  color: black;
}

.lering_04 {
  padding-left: 10vw;
  padding-top: 15vw;
}

.p_titel_4 {
  padding-top: 10vw;
}

/* #game_elements {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
} */

#fly_container {
  width: 13%;
  aspect-ratio: 200/200;
  position: absolute;
  top: 633px;
  left: 330px;
}

#fly_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/flyvemaskine.svg);
  background-size: cover;

  animation-name: rotation_kf;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

@keyframes rotation_kf {
  0% {
  }

  100% {
    rotate: 360deg;
  }
}

#vindmolle_container {
  width: 13%;
  aspect-ratio: 200/200;
  position: absolute;
  top: 190%;
  left: 80%;
}

#vindmolle_sprite {
  width: 100%;
  height: 100%;
  background-image: url(img/vindmolle.svg);
  background-size: cover;

  animation-name: rotation_kf;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

.trump {
  position: relative;
  padding-top: 10vw;
  width: 25%;
  left: 10%;

  animation-name: rotation_kf;
  animation-duration: 30s;
  animation-iteration-count: infinite;
}

/************* 05 *************/
.lottie {
  width: 100%;
  height: 100%;
  top: -13%;
  left: -1%;
  position: absolute;
  pointer-events: none;
}

/******** om **************/

.mig {
  padding: 10vw;
}

.kompetencer_1,
.kompetencer_2,
.kompetencer_3,
.kompetencer_4,
.kompetencer_5,
.kompetencer_6,
.kompetencer_7,
.kompetencer_8,
.kompetencer_9,
.kompetencer_10 {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
  font-size: 2rem;
  color: white;
}

.kompetencer {
  padding: 10vw;
}
